.bg--light
    background-color: rgba(255, 255, 255, .875)

.fs-32px
    font-size: 32px

.w--50
    width: 50%
.w-62\.5
    width: 62.5%
.w-87\.5
    width: 87.5%
.w--100
    width: 100%

.w-h-26px
    width: 26px
    height: 26px

.place-items-center
    place-items: center

@media ( min-width: 1024px )
    .w-lg-37\.5
        width: 37.5%
    .w-lg-75
        width: 75% !important
    .w-lg-87\.5
        width: 87.5% !important

    .fs-lg-64px
        font-size: 64px